<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Announcements | WolfTeam Admin</title>
    <!-- plugins:css -->
    <link
      rel="stylesheet"
      href="../vendors/mdi/css/materialdesignicons.min.css"
    />
    <link rel="stylesheet" href="../vendors/css/vendor.bundle.base.css" />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link
      rel="stylesheet"
      href="../vendors/datatables.net-bs4/dataTables.bootstrap4.css"
    />
    <!-- End Plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../css/modern-vertical/style.css" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:../partials/_sidebar -->
      <%- include('../../partials/_sidebar'); %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../partials/_navbar -->
        <%- include('../../partials/_navbar'); %>
        <!-- partial -->
        <div class="main-panel min-vh-100">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">Announcements</h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">Tools</li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Announcements
                  </li>
                </ol>
              </nav>
            </div>
            <div class="row">
              <div class="col-lg grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Create an Announcement</h4>
                    <form
                      class="forms-sample"
                      action="/tools/announcements/create"
                      method="post"
                    >
                      <div class="form-group row">
                        <label
                          for="announcementChannel"
                          class="col-sm-3 col-form-label"
                          >Channel</label
                        >
                        <div class="col-sm-9">
                          <select
                            class="form-control"
                            name="announcementChannel"
                            id="announcementChannel"
                            required
                          >
                            <% channelData.forEach((channel) => { %>
                            <option value="<%= channel.id %>">
                              <%= channel.name %>
                            </option>
                            <% }) %>
                          </select>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label
                          for="announcementTitle"
                          class="col-sm-3 col-form-label"
                          >Title</label
                        >
                        <div class="col-sm-9">
                          <input
                            name="announcementTitle"
                            type="text"
                            class="form-control"
                            id="announcementTitle"
                            required
                          />
                        </div>
                      </div>

                      <div class="form-group row">
                        <label
                          for="announcementMessage"
                          class="col-sm-3 col-form-label"
                          >Message</label
                        >
                        <div class="col-sm-9">
                          <textarea
                            name="announcementMessage"
                            class="form-control h-100"
                            id="announcementMessage"
                            rows="10"
                            required
                          ></textarea>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Language</label>
                        <div
                          class="col-sm-9 d-md-flex align-items-center justify-content-between"
                        >
                          <div class="d-flex align-items-center">
                            <input
                              class="form-check-input"
                              name="english"
                              type="checkbox"
                              id="inlineCheckbox1"
                              value="EN"
                              style="width: 2em; height: 2em"
                            />
                            <label
                              for="inlineCheckbox1"
                              class="form-check-label mx-3"
                              >English</label
                            >
                          </div>
                          <div class="d-flex align-items-center">
                            <input
                              class="form-check-input"
                              name="german"
                              type="checkbox"
                              id="inlineCheckbox2"
                              value="DE"
                              style="width: 2em; height: 2em"
                            />
                            <label
                              class="form-check-label mx-3"
                              for="inlineCheckbox2"
                              >German</label
                            >
                          </div>
                          <div class="d-flex align-items-center">
                            <input
                              class="form-check-input"
                              name="french"
                              type="checkbox"
                              id="inlineCheckbox3"
                              value="FR"
                              style="width: 2em; height: 2em"
                            />
                            <label
                              class="form-check-label mx-3"
                              for="inlineCheckbox3"
                              >French</label
                            >
                          </div>
                        </div>
                      </div>

                      <div class="mt-4">
                        <button type="submit" class="btn btn-primary me-2">
                          Submit
                        </button>
                        <button class="btn btn-dark">Cancel</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../partials/_footer -->
          <%- include('../../partials/_footer'); %>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="../vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="../vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../js/off-canvas.js"></script>
    <script src="../js/hoverable-collapse.js"></script>
    <script src="../js/misc.js"></script>
    <script src="../js/settings.js"></script>
    <script src="../js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="../js/dashboard.js"></script>
    <script src="../js/data-table.js"></script>
    <script>
      document.querySelectorAll('.table-messages').forEach((a) => {
        a.innerHTML = a.innerText
          .replaceAll('<@&829731272716189746>', '<strong>@TeamGamigo</strong>')
          .replaceAll(
            '<@&324578350486257674>',
            '<strong>@Game Masters</strong>',
          )
          .replaceAll(
            '<@&882998563796312095>',
            '<strong>@Novice Game Master</strong>',
          )
          .replaceAll('<@&453224804871569412>', '<strong>@EN</strong>')
          .replaceAll('<@256090326328934400>', '<strong>@HiodunG</strong>');
      });
    </script>
    <!-- End custom js for this page -->
  </body>
</html>
